* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-decoration: none;
    color: #ffc745;
    border: none;
  }

  body {


    background-image: url('../img/FundoVerde.jpg') ;
    background-size: cover;

}


  /*body {
  
    font-size: 100%;
    background-color: paleturquoise;
    background-image: url('../img/FundoVerde.svg');
    background-size: cover;
    background-position-y: -200px;
  }*/
  
  .divisoria-hidden {
    border-top: 0px;
    margin: 20px 0;
  
  }
  
  #logo {
  
    margin-top: 50px;
    margin-left: 30rem;
    width: 400px;
    height: 150px;
  }
  
  #back-container {
  
    background-color: #008578;
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 7vh;
    border-radius: 20px;
    text-align: center;
  }

#Quadrotexto{
    border: 2px solid #fff;
    width: 500px;
    height: 420px;
    border-radius: 20px;
    margin-top: -13rem;
    margin-left: 26px;
    margin-bottom: 10px;
    
}

#BV{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

#pr01{
    
    text-align:center;
    margin-top: 20px;
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;

   


}

.button{
    border: none;
    border-radius: 15px;
    background-color: #ffc745;
    margin-left: 45%;
    margin-top: 10px;
    width: 220px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    
}

button:hover {
  background-color: #ffc222;
  transition: .5s;

}

div.quadrado {
    border: 3px solid #fff;
    width: none;
    height: none;
    border-radius: 10px;
    background-color: #008578;
    margin: auto;
}     
