* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-decoration: none;
    color: #ffc745;
    border: none;
  }
  
  body {
  
    font-size: 100%;
    background-color: paleturquoise;
    background-image: url('../img/FundoVerde.svg');
    background-size: cover;
    background-position-y: -200px;
  }
  
  .divisoria-hidden {
    border-top: 0px;
    margin: 20px 0;
  
  }
  
  #logo {
  
    margin-top: -4%;
    margin-left: -15%;
    width: 600px;
    height: 160px;
  }
  
  #back-container {
  
    background-color: #008578;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 7vh;
    border-radius: 20px;
    text-align: center;
  }

#Quadrotexto{
    border: 2px solid #0a0a0a;
    width: 700px;
    height: 600px;
    border-radius: 20px;
    margin-top: -24%;
    margin-left: 2%;
}

#BV{
    text-align: center;
    margin-top: 2%;
}

#pr01{
    
    text-align:center;

}

.button{
    border: none;
    border-radius: 15px;
    background-color: #ffc745;
    margin-left: 45%;
    margin-top: 2%;
    width: 220px;
    height: 50px;
    color: black;
    font-weight: bold;
    
}

div.quadrado {
    border: 3px solid black;
    width: 1500px;
    height: 700px;
    border-radius: 10px;
    background-color: #008578;
    margin: auto;
}     
