* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #ffc745;
    border: none;
}

body {
    background-image: url('../img/FundoVerde.jpg');
    background-size: cover;
}

textarea:focus,
input:focus {
    outline: none;
}

a:hover {
    color: #ffc222;
}

/* Logo bolso feliz*/
#logo {
    margin-top: -8%;
    margin-left: -15%;
    width: 400px;
    height: 150px;
}


#cadastro-container {
    background-color: #008578;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 3vh;
    border-radius: 20px;
    text-align: center;
}

/* configurações ver senha */
.mostrar-senha {
    margin-left: 8.9rem;
    margin-top: -42px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: #ffc745;
}

.senhaConfirm {
    margin-left: 19.5rem;
    margin-top: -42px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: #ffc745;
}



label,
input {
    font-size: 15px;
    margin-top: 1px;
    margin-bottom:1px ;
    display: block;
    width: 340px;
    text-align: left;
    font-weight: bold;
}

input {
    border-bottom: 2px solid #ffc222;
    padding: 8px;
    font-size: .9rem;
    margin-bottom: 15px;
    border-radius: 10px;
}


/* Botões VOLTAR e CADASTRAR */
button {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    border: none;
    height: 32px;
    border-radius: 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #ffc745;
    cursor: pointer;
}

button:hover {
    background-color: #ffc222;
    transition: .5s;

}

