* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-decoration: none;
  color: #ffc745;
  border: none;
}

body {
  font-size: 100%;
  background-color: paleturquoise;
  background-image: url('../img/FundoVerde.svg');
  background-size: cover;
  background-position-y: -200px;
}

html, body {
  transform: scale(0.83);
  transform-origin:top center;
}

.divisoria-hidden {
  border-top: 0px;
  margin: 20px 0;

}

#logo {
  margin-top: -4%;
  margin-left: -15%;
  width: 600px;
  height: 160px;
}

#back-container {
  background-color: #008578;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 7vh;
  border-radius: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  transform: translate(150px);
}

.div1 {
  grid-area: 2 / 3 / 4 / 5;
  margin-bottom: 10px;
}

.div2 {
  grid-area: 4 / 3 / 6 / 5;
}

.shared-style {
  position: relative;
  font-weight: bold;
  width: 220px;
  height: 28px;
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: none;
  outline: none;
  border-bottom: 4px solid #ffc222;
}

.input-container {
  width: 220px;
}

.input-container input {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  padding-left: 5px;
}

::placeholder {
  font-weight: bold;
}

.bnt-add {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #ffc745;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  margin-left: -20px;
}

.div1 input,
.div2 input {
  color: black;
}

#element-container {
  margin-top: 10px;
  position: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: auto;
  transform: translate(0, -515px);
  left: 105px;
}

.edit-btn {
  background-image: url("../img/pencil.svg");
  width: 16px;
  height: 16px;
}

.delete-btn {
  background-image: url("../img/trash.svg");
  width: 16px;
  height: 16px;
}

.button-container {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.button-container .edit-btn,
.button-container .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.button-container .edit-btn {
  background-image: url("../img/pencil.svg");
}

.button-container .delete-btn {
  background-image: url("../img/trash.svg");
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  text-align: left;
  margin-bottom: 10px;
  width: 320px;
  min-height: 25px;
  height: auto;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 2px;
}

.element-text {
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
  border-bottom: 2px solid #ffc222;
  flex: 1;
  width: 240px;
  background-color: white;
  min-height: 25px;
  height: auto;
  font-weight: bold;
  color: black;
  word-wrap: break-word;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 666;
  visibility: hidden;
}

.popup.active {
  visibility: visible;
}

.popup-content {
  background-color: #008578;
  padding: 20px;
  border-radius: 5px;
}

.popup-content input {
  display: block;
  color: black;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid #ffc222;
}

.popup-content button {
  background-color: #ffc222;
  color: black;
  font-weight: bold;
  width: 100px;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.popup-content .popup-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: -12px;
}

.popup-content .popup-button-container button {
  margin-left: 10px;
}

.bnt-voltar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  padding-top: 2px;
  cursor: pointer;
  background-color: #ffc745;
  color: black;
  font-weight: bold;
  transform: translate(355px, -75px);
}

footer {
  position: relative;
  text-align: center;
  transform: translate(-10px, -65px);
}
