* {
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-decoration: none;
    color: #ffc745;
    border: none;
}

#logo {
    
    margin-top: -8%;
    margin-left: -15%;
    width: 600px;
    height: 150px;
}

#back-container {

    background-color: #008578;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 7vh;
    border-radius: 20px;
    text-align: center;
}

.divisoria {
    border-top: 1px solid #ffc745;
    margin: 20px 0;

}

.divisoria-hidden {
    border-top: 0px;
    margin: 20px 0;

}

body {
   
    font-size: 100%;
    background-color: paleturquoise;
    background-image: url('../img/FundoVerde.svg');
    background-size: cover;
    background-position-y: -200px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    gap: 45px;
    font-weight: 400;
    font-size: large;
    line-height: 48px;
    font-family: Helvetica;
    font-style: normal;
}



header {
    margin: auto;
    padding: auto;
    font-family: Helvetica;
    color: #ffc745;
    border: none;
    
}


.edit-button,
.delete-button {
  background-color: #008578;
  border: none;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
  fill: #fff;
}

.edit-button img,
.delete-button img {
  width: 16px;
  height: 16px;
  fill: #fff; /* Altere para a cor desejada, neste caso, preto */
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

table {
    margin: 10% auto; /* alterado: lucy */
    border-collapse: collapse;
    background-color: #008578;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.table-texto {
    color: #fff;
}

table thead {
    background-color: #008578;
    color: #fff;
    text-align: left;
}

table th  {
    padding: 12px 15px;
    border: 1px solid #ddd;
    
}

table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    color: #fff;

}

table tbody tr {
    border-bottom: 1px solid #ddd;
    color:#fff;
}

table tbody tr:last-child {
    border-bottom: none;
    background-color: #008578;
    color: #fff;
}

table tbody button {

    box-sizing: border-box;
    font-family: Helvetica;
    font-size:large;
    color: #fff;
    border: none;
    background-color: #008578; 
}

button#adicionar {
    display: block;
    margin: -15px auto 20px;
    padding: 10px 20px;
    background-color: #ffc745;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    text-align: right;
    margin-right: 6%;
}

button#adicionar:hover {
    background-color: #ffc222;
    transition: .5s;
}

footer {
    text-align: center;
    margin-top: 50px;
}




/* Navv */

a:hover {
    display: inline-block;
    border: 2px solid transparent;
    padding: 8px 10px; 
    border-radius: 5px;
    transition: border-color 2.0s, font-size 0.01s;
    line-height: 1; 
}


.formulario input,
.formulario select {
    margin-top: 1px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 40px;


}

.labels{
    margin-top: 15px ;
    font-size: 15px;
}


.labels label {
    margin-right: 10px;
    margin-left: 50px;
}

#entrada-valor {
    width: 15%;
}

#selecao-categoria{
    width: 20%;
}

.categoria {
    margin-left: 35px;
    margin-right: 5px;
}

.categoria {
    margin-right: 60px !important;
    margin-left: 5px !important;

}

.descricao {
    margin-left: 10px !important;
    margin-right: 60px !important;
}

.data {
    margin-left: 30px !important;
}

.valor {
    margin-left:  60px !important;
}
